body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Inknut Antiqua;
    background: linear-gradient(to bottom, #b8e6d1 0%, #ffffff 50%, #b8e6d1 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%;
    height: 100%;
    position: relative;
    padding-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 80px;
    height: 80px;
}

.brand-name {
    font-weight: bold;
    color: #333;
    font-size: 30px;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    top: calc(50% - 50px - 150px);
}

.X a{
    color: #000;
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-btn {
    padding: 12px;
    background: white;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: none;
    transition: all 0.3s ease;
    width: 100%;
    text-align: center;
    background-color: #3ce890;
}

.menu-btn:hover,
.menu-btn:active {
    background: white;
    transform: none;
    box-shadow: none;
}

.header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
}

h1 {
    margin: 0;
    padding-top: 0px;
}

.fa-solid.fa-xmark {
    font-size: 2em;
    margin-left: 1300px;
}

.menu-btn {
    position: relative;
}

.menu-btn::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 120%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    pointer-events: none;
    font-size: 0.9rem;
}

.menu-btn:hover::after {
    opacity: 1;
    visibility: visible;
}

