body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Inknut Antiqua;
    background: linear-gradient(to bottom, #b8e6d1 0%, #ffffff 50%, #b8e6d1 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 95%;
    height: 100%;
    position: relative;
    padding-top: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo {
    width: 80px;
    height: 80px;
}

.brand-name {
    font-weight: bold;
    color: #333;
    font-size: 30px;
}

.logout {
    border-radius: 20px;
    border: 1px solid #1f409a;
    background-color: #1f409a;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-bottom: 6px;
    margin-left: 1000px;
}

.logout:hover {
    background-color: transparent;
    border-color: #1f409a;
    color: #000;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 1.8rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    top: calc(50% - 50px - 150px);
}

.menu-buttons {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-btn {
    padding: 12px;
    background: white;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: none;
    transition: none;
    width: 100%;
    text-align: center;
}

.menu-btn:hover,
.menu-btn:active {
    background: white;
    transform: none;
    box-shadow: none;
}
