body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #b8e6d1 0%, #ffffff 50%, #b8e6d1 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo span {
    font-weight: bold;
    color: #333;
    font-size: 30px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 2em; 
    color: #333; 
}

.back-button i.fa-solid.fa-xmark {
    font-size: 1.5em;
}

.search-icon-container i{
    font-size: 1.5em;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

.controls {
    display: flex;
    gap: 5px;
}

.controls button {
    padding: 8px 20px;
    background-color: white;
    border: 1px solid #000;
    color: #000;
    border-radius: 0;
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 10px;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 8px 15px;
    border: 1px solid #000;
    border-radius: 20px;
    width: 300px;
    font-size: 16px;
}

.search-icon-container {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
}

.search-icon {
    width: 24px;
    height: 24px;
}

.search-icon-container:hover,
.search-icon-container:focus {
    background: none;
    border: none;
    outline: none;
}

.customer-list {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-bottom: 5px;
    background-color: #fff;
}

.list-header {
    color: white;
    font-weight: bold;
}

.cell {
    flex: 1;
    padding: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #00A66EB2;
    color: white;
    width: 100px;
    height: 40px;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.back-button img {
    width: 24px;
    height: 24px;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.right-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cell#white {
    background-color: white;
}

.cancel-request-btn {
    background-color: #00A66EB2;
    color: white;
    border: 1px solid #000;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    width: 120px;
    height: 43px;
    width: 180px;
}

.cancel-request-btn:hover {
    background-color: #00A66EB2; 
}
