* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inknut Antiqua;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
    
}

.container {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    background: linear-gradient(180deg, 
        rgba(114, 202, 175, 0.80) 0%,     
        rgba(255, 255, 255, 0.80) 50%,    
        rgba(114, 202, 175, 0.80) 100%   
    );
    border: 2px solid #000;
    border-radius: 30px;
    margin-top: 50px;
}

.all{
    display: none;
}

header {
    padding: 15px;
    padding-top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo img {
    width: 100px;
    height: 100px;
}

.logo span {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.fa-solid.fa-xmark {
    font-size: 1.5em;
    margin-left: 15px;
    margin-top: 10px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.avatar {
    width: 80px;
    height: 80px;
    background: none;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.profile-text {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 300px;
    text-align: center;
    margin-bottom: 30px;
}

.info-group {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    padding: 0 40px;
    margin-top: 30px;
    margin-left: 400px;
}

.info-text {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: left;
    padding-bottom: 5px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 40px;
    margin-top: 30px;
    align-items: center;
}

.btn {
    width: 220px;
    height: 37px;
    flex-shrink: 0;
    background: #FFFFFF;
    border: 2px solid #000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: none;
}

.btn:hover {
    background: #FFFFFF;
}

.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}